:root{
	--color-primary: #649191;
	--color-primary-dark: #3b5353;
	--color-primary-two: #81bbbb;
	--color-primary-light: #48F797;
	--color-back: #DCE9F5;
	--color-meta: #BDDEDE;
	--color-meta-light: #D3F9E4;
	--color-meta-light-back: #abccbac2;

	--font-primary:  'Oswald', sans-serif;
	--font-second:  'Sarala', sans-serif;
	--font-lato: 'Lato', sans-serif;
}


*{
	padding: 0;
	box-sizing: border-box;
	margin: 0;
}

body{
	display: flex;
	flex-direction: column;
	background-color: #bddede6e;
	font-size: 1.2rem;
	height:  calc(100vh);;
}	


a{
	text-decoration: none;

}
a:hover{
	text-decoration: none;

}

a:focus{
	color: none;
}

.content{
	margin: 0 auto;
	max-width: 144rem;
	padding: 1.4rem;
}

