:root{
	--color-primary: #649191;
	--color-primary-dark: #3b5353;
	--color-primary-two: #81bbbb;
	--color-primary-light: #48F797;
	--color-back: #DCE9F5;
	--color-meta: #BDDEDE;
	--color-meta-light: #D3F9E4;

	--font-primary:  'Oswald', sans-serif;
}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html{
	height: 60%;
}

body{
	background-color: aliceblue;
	font-family: var(--font-primary);
	font-size: 1.2rem;
}	


h1,
h2,
h3,
h4,
h5,
h6{
	padding: 1px;
}


a{
	text-decoration: none;

}

a:focus{
	color: none;
}

.content{
	margin: 0 auto;
	max-width: 144rem;
	padding: 1.4rem;
}

