/* Header */

header{
	font-size: 1.3rem;
}

nav{
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-size: 2rem;
}

.content-header{
	background-color: var(--color-primary);
}

.content-header a{
	color: var(--color-primary-light);
}

/* Search */
.search-form{
	position: relative;
	border: 0.2rem solid var(--color-primary);
	max-width: 32rem;
	margin: 0 auto;
	border-radius: 0.4rem;
  
	/* animation */
	transition: all 300ms ease-in-out;
}

.search-form:focus-within{
	border-color: var(--color-primary);
	background-color: white;
	filter: brightness(1.3);

}

.search-form,
.search-button:focus-within{
	color: var(--color-primary);
}

.search-input{
	width: 100%;
	padding-right: 3rem;
}

.search-button{
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 1px;
}

.search-button i {
	color: var(--color-primary-dark);
	
}


.search-button:focus,
.search-button:hover{
	filter: brightness(1.5);
}

.search-input,
.search-button{
	background: none;
	padding: .50rem;
	outline: none;
	border: none;
}
/* Search */



/* Main */
.main-container {
	max-width: 52rem;
	min-height: calc(100vh - 29rem); 
	overflow-y: auto; 
	
}
  
.container {
	transition: transform 0.5s ease; 
	
}
  
.main-container ul {
	display: grid;
	gap: 1rem;
	list-style: none;
	grid-template-columns: auto auto;
}
  
.main-container ul:has(li:hover) li:not(:hover) {
	opacity: 0.6;
	scale: 0.98;
}
  
.main-container li {
	background-color: var(--color-primary);
	
	width: 100%;
	padding: 1rem;
	border-radius: 0.8rem;
	transition: all 300ms ease-in-out;
}

.main-container li .header-container {
	display: flex;
	align-items: center;
	gap: 0.8rem;
	color: whitesmoke;
	font-style: bold;
	font-size: 1.2rem;
}
  
.main-container li span {
	opacity: 0.9;
}
  
.main-container li a:hover {
	transform: scale(1.1);
}
  
.main-container li p {
	color: rgba(0, 0, 0.774);
	margin-top: 1rem;
	opacity: 0.8;
	font-size: 1rem;
}

.main-container li a {
	display: inline-block;
	color: whitesmoke;
	margin-top: 1rem;
	text-decoration: none;
	transition: all 300ms ease-in-out;
	opacity: 0.8;
}
  
.main-container li a:hover {
	color: var(--color-meta-light);
	

}
  
@media (max-width: 36rem) {
	.main-container ul {
	  grid-template-columns: 1fr;
	}
}
/* Main */

/* Footer */
footer{
	position: relative; 
	left: 0;
	right: 0;
	bottom: 0;
	font-size: 1.3rem;
	background-color: var(--color-primary);
	color: var(--color-meta);
}

.content-footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;

}

.content-footer a {
	color: var(--color-white);
	transition: all 300ms ease-in-out;
	text-decoration: none;
	font-size: 1.2rem;

}


.content-footer a:hover {
	color: var(--color-meta);
	filter: brightness(1.3);
}

.logo-github{
	margin-right: .2rem;
}

/* Footer */


/* Alert Message  */
.no-results-message{
	display: flex;
	font-size: 2rem;
	text-align: center;
	color: var(--color-primary);
	/* background-color: deeppink	; */
	transition: all 300ms ease-in-out;
}

.no-results-message:hover{
	color: var(--color-primary-two);
}
